.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: rgba(0, 0, 0, 0.5);
  transition: all 0.35s ease;
}

@media screen and (max-width: 767px) {
  .popup {
    padding: 0 19px;
    box-sizing: border-box;
  }
}
