.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 880px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 100%;
  }
}
