.popup__btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  vertical-align: middle;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.35s ease;
}

.popup__btn-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__btn-submit {
    height: 46px;

    font-size: 14px;
    line-height: 46px;
  }
}
