.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
