@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__btn-edit/profile__btn-edit.css);
@import url(../blocks/profile/__desc/profile__desc.css);
@import url(../blocks/profile/__btn-add/profile__btn-add.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__btn-like/element__btn-like.css);
@import url(../blocks/element/__btn-like/_active/element__btn-like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__btn-submit/popup__btn-submit.css);
@import url(../blocks/popup/__btn-close/popup__btn-close.css);
