.popup__field {
  display: inline-flex;
  height: 37px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  vertical-align: middle;

  color: #000000;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.popup__field:nth-last-of-type(1) {
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .popup__field:nth-last-of-type(1) {
    margin-bottom: 45px;
  }
}
